spin:before {
   display : inline-block;;
   font-family : "anticon" !important;
   -webkit-animation : loadingCircle 1s infinite linear;
   animation : loadingCircle 1s infinite linear;
}
spin {
   display : inline-block;
   font-style : normal;
   vertical-align : baseline;
   text-align : center;
   text-transform : none;
   line-height : 1;
   text-rendering : optimizeLegibility;
   -webkit-font-smoothing : antialiased;
   -moz-osx-font-smoothing : grayscale;
}
