.AntIcon {
   display : inline-block;
   font-style : normal;
   vertical-align : baseline;
   text-align : center;
   text-transform : none;
   line-height : 1;
   text-rendering : optimizeLegibility;
   -webkit-font-smoothing : antialiased;
   -moz-osx-font-smoothing : grayscale;
}
.AntIcon:before {
   display : block;
   font-family : "anticon" !important;
}
.AntIcon-instagram:before {
   content : "\e70b";
}
