.Divider {
  font-family:"Monospaced Number","Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:1.5;
  color:rgba(0,0,0,0.65);
  box-sizing:border-box;
  margin:0;
  padding:0;
  list-style:none;
  background:rgb(232,232,232);
}

.Divider {
  margin: 0 8px;
  display:inline-block;
  width:1px;
  vertical-align:middle;
  position:relative;
  top:-0.06em;
}

.DividerVertical {
  margin: 0 8px;
  display:inline-block;
  width:1px;
  vertical-align:middle;
  position:relative;
  top:-0.06em;
}

.DividerHorizontal {
  display:block;
  height:1px;
  width:100%;
  margin:24px 0;
  clear:both;
}

.DividerHorizontal.DividerWithText {
  display:table;
  white-space:nowrap;
  text-align:center;
  background:transparent;
  font-weight:500;
  color:#000000;
  font-size:16px;
  margin:16px 0;
}

.DividerHorizontal.DividerWithText:before {
  content:'';
  display:table-cell;
  position:relative;
  top:50%;
  width:50%;
  border-top:1px solid rgb(232,232,232);
  transform:translateY(50%);
}

.DividerHorizontal.DividerWithText:after {
  content:'';
  display:table-cell;
  position:relative;
  top:50%;
  width:50%;
  border-top:1px solid rgb(232,232,232);
  transform:translateY(50%);
}

.DividerInnerText {
  display:inline-block;
  padding:0 24px;
}

.DividerHorizontal.DividerWithTextLeft {
  display:table;
  white-space:nowrap;
  text-align:center;
  background:transparent;
  font-weight:500;
  color:#000000;
  font-size:14px;
}

.DividerHorizontal.DividerWithTextLeft:before {
  content:'';
  display:table-cell;
  position:relative;
  top:50%;
  width:5%;
  border-top:1px solid rgb(232,232,232);
  transform:translateY(50%);
}

.DividerHorizontal.DividerWithTextLeft:after {
  content:'';
  display:table-cell;
  position:relative;
  top:50%;
  width:95%;
  border-top:1px solid rgb(232,232,232);
  transform:translateY(50%);
}

.DividerHorizontal.DividerWithTextLeftInnerText {
  display:inline-block;
  padding:0 10px;
}

.DividerHorizontal.DividerWithTextRight {
  display:table;
  white-space:nowrap;
  text-align:center;
  background:transparent;
  font-weight:500;
  color:#000000;
  font-size:14px;
  margin:16px 0;
}

.DividerHorizontal.DividerWithTextRight:before {
  content:'';
  display:table-cell;
  position:relative;
  top:50%;
  width:95%;
  border-top:1px solid rgb(232,232,232);
  transform:translateY(50%);
}

.DividerHorizontal.DividerWithTextRight:after {
  content:'';
  display:table-cell;
  position:relative;
  top:50%;
  width:5%;
  border-top:1px solid rgb(232,232,232);
  transform:translateY(50%);
}

.DividerHorizontal.DividerWithTextRightInnerText {
  display:inline-block;
  padding:0 10px;
}

.DividerDashed {
  background:none;
  border-top:1px dashed rgb(232,232,232);
}

.DividerHorizontal.DividerWithText.DividerDashed {
  border-top:0;
}

.DividerHorizontal.DividerWithText.DividerDashed:before {
  border-style:dashed none none;
}

.DividerHorizontal.DividerWithText.DividerDashed:after {
  border-style:dashed none none;
}

.DividerHorizontal.DividerWithTextLeft.DividerDashed {
  border-top:0;
}

.DividerHorizontal.DividerWithTextLeft.DividerDashed:before {
  border-style:dashed none none;
}

.DividerHorizontal.DividerWithTextLeft.DividerDashed:after {
  border-style:dashed none none;
}

.DividerHorizontal.DividerWithTextRight.DividerDashed {
  border-top:0;
}

.DividerHorizontal.DividerWithTextRight.DividerDashed:before {
  border-style:dashed none none;
}

.DividerHorizontal.DividerWithTextRight.DividerDashed:after {
  border-style:dashed none none;
}