&.disabled {
   color : rgba(0,0,0,0.25);
   border-color : rgb(217,217,217);
}
&[disabled] {
   color : rgba(0,0,0,0.25);
   border-color : rgb(217,217,217);
}
&[disabled]:hover {
   color : rgba(0,0,0,0.25);
   border-color : rgb(217,217,217);
}
&[disabled]:focus {
   color : rgba(0,0,0,0.25);
   border-color : rgb(217,217,217);
}
&[disabled]:active {
   color : rgba(0,0,0,0.25);
   border-color : rgb(217,217,217);
}
